		</div>
	</div>
	<footer class="page-footer">
		<% include('./footer.ejs') %>
	</footer>
	
	<script type="text/javascript" src="/js/scripts.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>




