<%- include('./partials/head.ejs') %>
<div class="container">
<form id="form" >
	<label>Phone Number</label><input name="phone" type="text" ng-keydown="crawlURLIfEnter($event)" class="validate">


 <div class="input-field col s12">
    <select name="carrier">
      <option value="" disabled selected>Choose your option</option>
      <option value="att">ATT</option>
      <option value="verizon">Verizon</option>
      <option value="sprint">Sprint</option>
    </select>
    <label>Materialize Select</label>
  </div>
<button class="btn" id="submitbtn">Submit</button>
</form>

</div>
<%- include('./partials/foot.ejs') %>
