<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/head.ejs') %>
</head>
<body>
	<div class="page-wrap">
		<%- include('../partials/header.ejs') %>
		<div class="row container" style="margin-top:20px">
			<%- body %>
		</div>
	</div>
	<footer class="page-footer">
		<% include('../partials/footer.ejs') %>
	</footer>
	<%- include('../partials/foot.ejs') %>
</body>
</html>

