<%- include('./partials/head.ejs') %>
<div class="container">
<form id="form" >
	<label>Message</label><textarea name="message" type="text" class="validate"></textarea>
	<button class="btn" id="message_submitbtn">Submit</button>
</form>
<script type="text/javascript">
$(document).ready(function() {

	$("#message_submitbtn").click(function() {
    	$.post('messages/', $('#form').serialize());
    	return false;
    });
});



</script>
</div>
<%- include('./partials/foot.ejs') %>
